@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-stroke {
    -webkit-text-stroke: 1px #000;
  }
}

/* style */

.header-link::after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 0;
  top: 115%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 2px;
  background: #000;
}

.header-link:hover::after {
  opacity: 1;
}

.hero-breadcrumbs span {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  margin-right: 10px;
  color: #77777d;
}

.hero-breadcrumbs span::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #00000026;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
}

.hero-breadcrumbs span:last-child {
  margin: 0;
  padding: 0;
}
