@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}





/* style */

.header-link::after{
  content: "";
  opacity: 0;
  position: absolute;
  left: 0;
  top: 115%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  width: 100%;
  height: 2px;
  background: #000;
}

.header-link:hover::after{
  opacity: 1;
}
